header {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 1rem;;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 1rem;
}
ul {
  margin-top: 1rem;;
}
.button {
  margin-top: 1rem;
  display: inline-block;
}
input {
  width: 10rem;
}
